html.hs-messages-widget-open.hs-messages-mobile,html.hs-messages-widget-open.hs-messages-mobile body{height:100%!important;overflow:hidden!important;position:relative!important}
html.hs-messages-widget-open.hs-messages-mobile body{margin:0!important}
#hubspot-messages-iframe-container{display:initial!important;z-index:2147483647;position:fixed!important;bottom:0!important;right:0!important}
#hubspot-messages-iframe-container.internal{z-index:1016}
#hubspot-messages-iframe-container.internal iframe{min-width:108px}
#hubspot-messages-iframe-container .shadow{display:initial!important;z-index:-1;position:absolute;width:0;height:0;bottom:0;right:0;content:""}
#hubspot-messages-iframe-container .shadow.internal{display:none!important}
#hubspot-messages-iframe-container .shadow.active{width:400px;height:400px;background:radial-gradient(ellipse at bottom right,rgba(29,39,54,.16) 0,rgba(29,39,54,0) 72%)}
#hubspot-messages-iframe-container iframe{display:initial!important;width:100%!important;height:100%!important;border:none!important;position:absolute!important;bottom:0!important;right:0!important;background:transparent!important}
ul.hs-error-msgs.inputs-list{display:none!important}
div#form-container{margin:25px 0 0 0;padding:0;min-width:240px}
.input>input{padding:1.3rem 2.5rem!important;background:transparent;font-size:13px;line-height:16px;width:100%;outline:none;background-color:rgba(207,215,223,.1);border:1px solid #ecedf2;color:#999}
::placeholder{color:#999;opacity:1}
.hbspt-form{min-width:233px;margin:10px}
.hs-error-msgs.inputs-list{font-size:0}
span.hs-form-required{color:red;position:absolute;left:8px !important;top:10px;font-size:22px}
.hs-form-field>label{position:relative}
.hs-form-field{font-size:5px}
 /* .Call-head{text-align:center;width:270px;font-size:42px;font-weight:bold;color:#013368;margin:35px auto;} */
 .actions > input[type="submit"]{color:#013368;font-size:22px;font-weight:bold;font-family:'Gilroy-Bold', Arial, sans-serif;padding:10px 90px;background:#78ffd1;line-height:40px;border-radius:40px;-webkit-box-shadow:0px 25px 28px 1px rgba(0,0,0,0.10);-moz-box-shadow:0px 25px 28px 1px rgba(0,0,0,0.10);box-shadow:0px 25px 28px 1px rgba(0,0,0,0.10);display:block;margin:50px auto 0;border:0;}
 .hbspt-form>iframe#hs-form-iframe-0{background:transparent;padding:0;margin:0}
.hs_firstname, .hs_phone {width: 49%;float: left;margin-right: 5px;margin-bottom: 10px;}
  .hs_submit { top: -45px;  position: relative;float: left; }
  .hs_email {width: 100%;float: left; margin-bottom: 18px;}

@media only screen and (min-width:320px) and (max-width:767px){
  .hs_firstname, .hs_phone, .hs_email { width: 100%; float: none; margin-right: 0px;}
  .login-form-container,.aboutus-content .box.xlarge{padding:0}

  .actions > input[type="submit"] {font-size: 18px !important;}
.hs-form {padding: 10px !important; min-height: 300px !important;}
.hs-input.hs-fieldtype-intl-phone select, .hs-input.hs-fieldtype-intl-phone input, .input > input { padding: 10px !important;}
}
 .hs-form{background-color: #fff;-webkit-box-shadow:0px 3px 15px 5px rgba(0,0,0,0.05);-moz-box-shadow:0px 3px 15px 5px rgba(0,0,0,0.05);box-shadow:0px 3px 15px 5px rgba(0,0,0,0.05);border-radius:12px;min-height:280px;padding:20px;}

 .hs-input.hs-fieldtype-intl-phone select{-webkit-appearance:none;-moz-appearance:window;width:20% !important;padding:1.3rem 10px !important;font-size:13px;line-height:16px;outline:none;background-color:rgba(207,215,223,.1);border:1px solid #ecedf2;color:#999;}

 .hs-input.hs-fieldtype-intl-phone input{-webkit-appearance:none;width:78% !important;-moz-appearance:window;padding:1.3rem 10px !important;font-size:13px;line-height:16px;outline:none;background-color:rgba(207,215,223,.1);border:1px solid #ecedf2;color:#999;float:right;}
